@page "/counter"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Layouts

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    <SfDashboardLayout CellSpacing="@(new double[]{10 ,10 })" Columns="3" ShowGridLines="true" AllowResizing="true">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel SizeX=1 SizeY=2>
                <ContentTemplate>
                    <div>0</div>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel SizeX=2 SizeY=1>
                <ContentTemplate>
                    <div>1</div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX=2 SizeY=1>
                <ContentTemplate>
                    <div>3</div>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

<style>
        .e-dashboardlayout {
        padding: 10px;
    }
    .e-panel-header {
        padding: 10px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
    }
    .panel-content {
        vertical-align: middle;
        font-size: 15px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.61);
        text-align: center;
    }
    .e-panel-content {
        height: calc(100% - 28px);
        width: 100%;
        display: block;
    }
    .e-panel .e-header-text {
        padding: 12px 0 12px 0;
    }
    .e-dashboardlayout.e-control .e-panel .e-panel-header {
        font-size: 15px;
        font-weight: 500;
        height: 37px;
        line-height: 30px;
        padding: 10px;
        vertical-align: middle;
        border-bottom: 0.5px solid #e3e3e3;
    }
    .mobile .e-control.e-lib.e-dashboardlayout.e-responsive {
        z-index: 0;
        overflow: scroll;
    }
    .e-control.e-lib.e-dashboardlayout.e-responsive {
        z-index: 0;
    }
    .bootstrap5 .e-dashboardlayout.e-control .e-panel .e-panel-header,
    .bootstrap5-dark .e-dashboardlayout.e-control .e-panel .e-panel-header {
        line-height: 20px;
    }
</style>
