@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4 auth">
        @Body
    </div>
</div>

<style>
    .auth {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
</style>