.company-name {
    right: 15px;
    position: absolute;
}

.title {
    display: inline-block;
    margin-top: 15px;
}

.logout-btn {
    font-size: 1.5rem;
    margin-right: 20px;
    margin-bottom: 15px;
}

.search-dropdown {
    width: 80vw;
    font-size: 1.2rem;
    display: inline-block;
}

.title-container {
    width: 100%;
}