@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AuthStateProvider authStateProvider

<div class="page">
    <main>
        @if (IsAuthenticated) {
            <div class="top-row px-4">
                <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
            </div>
        }
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    private bool IsAuthenticated {get; set;} = false;
    protected override async Task OnParametersSetAsync()
    {
        if (AuthenticationState is null)
        {
            IsAuthenticated = false;
            return;
        }
        var authState = await AuthenticationState;

        if (authState.User.Identity is not null && !authState.User.Identity.IsAuthenticated)
        {
            IsAuthenticated = false;
            return;
        }
        IsAuthenticated = true;
        @* todo redirect to main page *@
    }
    public async Task LogoutClick()
    {
        await authStateProvider.Logout();
    }
}
