@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AuthStateProvider authStateProvider

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        if (AuthenticationState is null)
        {
            navigationManager.NavigateTo("/login");
            return;
        }
        var authState = await AuthenticationState;

        if (authState.User.Identity is not null && !authState.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
            return;
        }

    }
    public async Task LogoutClick()
    {
        await authStateProvider.Logout();
    }
}
